
<%- include("../partials/header.ejs") %>
  <h1><%= team.name %></h1>
  <p>Division: <%= team.division %></p>
  <p>Record: <%= team.record %></p>

  <h2>Comments</h2>
  <ul>
    <% team.comments.forEach(function(comment) { %>
      <li>
        <strong><%= comment.author.username %></strong> (<%= comment.createdAt.toLocaleDateString() %>):
        <br><%= comment.text %><br>
        <% if (user._id.equals(comment.author._id)) { %>
        <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
          <button type="submit">&#10060;</button>
        </form>
        <% } %>
      </li>
    <% }); %>
  </ul>
    <form action="/teams/<%= team._id %>/comments" method="POST">
      <textarea name="text" required></textarea>
      <button type="submit">Add Comment</button>
    </form>


  <%- include("../partials/footer.ejs") %>
